div{
    height: 300px;
    width: 300px;
    background-color: black;
    margin-bottom: 25px;
}
body{
    background-color: #f5f5dd;
}
#dwa{
    background-color: rgba(0, 0, 0, 0.75);
}
#trzy{
    background-color: rgba(0, 0, 0, 0.5);
}
#cztery{
    background-color: rgba(0, 0, 0, 0.25);
}