* {
    box-sizing: border-box;
}
#pracownicy{
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    text-align: center;
    margin-top: 0;
    color: rgb(87, 195, 10);
}
.pracownik {
    display: inline-block;
    min-width: 150px;
}
button {
    margin-top: 20px;
}
#pracownicy #title {
   display: inline-block;
}
.wyplata {
    width: 100px;
    display: inline-block;
}
div#title span {
    display: inline-block;
}
#tytul-czas {
    width: 170px;
}
#tytul-wyplata {
    width: 115px;
}
#tytul-pracownik {
    width: 150px;
    margin-left: 15px;
}
#tytul-stawka {
    width: 170px;
}