body{
    background-color: darksalmon;
}
h1{
    background-color: aqua;
}
#jeden{
    background-color: blue;
}
h2{
    background-color: blueviolet;
}
#dwa{
    background-color: brown;
}
ol{
    background-color: chartreuse;
}
.lista1{
    color: darkorange;
}
.lista2{
    color: darkcyan;
}
.lista3{
    color: deepskyblue;
}
.lista4{
    color: green;
}
.lista5{
    color: darkorchid;
}